#body-imagem {
    background-image: url(img/fundo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#ganhou {
    background: url(img/ganhou.jpeg);    
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 500px;
    position: absolute;
    top: 8vh;
    left: 7%;
}

#titulo {
    text-align: center;
    color: yellow;
    font-size: 2.5em;
    font-weight: bold;
}

.botao, .botao-transparente {
    margin: 10px 20px;
    height: 230px;
    width: 230px;
}

.botao, .imagem {
    border-radius: 20px;   
}

.botao-transparente {
    position: relative;
}

.container__comecar {
    margin: 2% 45% 70%;
}

#comecar {
    width: 10em;
    height: 3em;
}