#body-imagem {
    background-image: url(img/fundo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#titulo {
    text-align: center;
    color: yellow;
    font-size: 2.5em;
    font-weight: bold;
}

.botao {
    margin: 10px 20px;
    
}

.botao, .imagem {
    border-radius: 20px;
}